<footer class="f_footer" id="f_footer">
    <div id="f_aboutus" class="f_aboutus">
        <h3 class="f_h3"> ¿NECESITAS AYUDA?</h3>
        <p class="f_p">
            &#9654; Comunícate con nosotros y descubre más de lo que tenemos para ti a través de la siguiente
            página.
        </p>
        <a href="#" class="f_link">¡CONÓCENOS!</a>
    </div>
    <div class="f_general" id="f_general">
        <div class="f_icon_bg" id="f_icon_bg">
            <img class="f_icon" id="f_icon" src="./../media/images/icons/icon_arc.png" alt="ARC">
        </div>
        <h1 class="f_h1" id="f_h1">ARC
            <span class="fh1_words">
                <span class="fh1_word">Aventúrate</span>
                <span class="fh1_word">Recorre</span>
                <span class="fh1_word">Conoce</span>
            </span>
        </h1>
    </div>
</footer>