<header class="s_header" id="s_header">
    <div class="s_i_h1" id="s_i_h1">
        <div class="s_icon_bg" id="s_icon_bg">
            <img class="s_icon" id="s_icon" src="./../media/images/icons/icon_arc.png" alt="ARC">
        </div>
        <h1 class="s_h1" id="s_h1">ARC
            <span class="h1_words">
                <span class="h1_word">Aventúrate</span>
                <span class="h1_word">Recorre</span>
                <span class="h1_word">Conoce</span>
            </span>
        </h1>
        <p class="s_slogan" id="s_slogan">Aventúrate, Recorre y Conoce</p>
    </div>
</header>
<nav id="underline_nav" class="underline_nav">
    <h2 id="n_h2" class="n_h2">[Titulo]</h2>
</nav>