.box-zone {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "div-zone" "div-card";
}

.div-zone {
    grid-area: div-zone;
    text-align: left;
    margin: 25px 0;
}

.div-zone h2 {
    font-size: 2.5rem;
    color: #333;
}

.div-card {
    grid-area: div-card;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    align-items: stretch;
    height: 100%;
}

.cards {
    height: 200px;
    max-height: 200px;
    background-color: #caccd4;
    border-left: 5px solid #023E8A;
    border-radius: 8px;
    padding: 12px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "info-card image-card";
    gap: 10px;
    transition:
        background-color 0.3s ease,
        box-shadow 0.3s ease,
        transform 0.25s ease,
        border-left-color 0.3s ease;
    align-items: stretch;
    height: 100%;
    min-height: 200px;
}

.div-info-card {
    height: 100%;
    grid-area: info-card;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "info-card-title"
        "info-card-ciudad"
        "info-card-direccion"
        "info-card-btn";
    overflow: hidden;
}

.cards .div-info-card h2 {
    grid-area: info-card-title;
    font-size: 1.25rem;
    color: #333;
}

.cards .div-info-card .info-card-ciudad {
    grid-area: info-card-ciudad;
    font-size: 0.95rem;
    color: #333;
}

.cards .div-info-card .info-card-direccion {
    grid-area: info-card-direccion;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.95rem;
    color: #333;
}

.cards .div-info-card button {
    font-size: 1rem;
    grid-area: info-card-btn;
}

.div-image-card {
    grid-area: image-card;
    background-color: #f0f2fa;
    border-radius: 10px;
    height: 100%;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.image-card {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

@media (max-width: 500px) {
    .div-card {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .div-zone h2 {
        font-size: 1.5rem;
        text-align: center;
    }

    .cards {
        height: auto;
        min-height: 150px;
        grid-template-columns: 1fr 1.5fr;
        grid-template-areas: "image-card info-card";
    }

    .div-image-card {
        min-width: 120px;
        max-width: 150px;
    }

    .div-info-card {
        padding-left: 5px;
        grid-template-rows: auto auto auto 1fr;
    }

    .cards .div-info-card h2 {
        white-space: normal;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .cards .div-info-card button {
        width: 100%;
        margin-top: 5px;
    }
}