/* ====== organizers.css ====== */

/* ---- Sección registrar evento ---- */
.event-box form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "modulo         modulo          modulo"
        "imagen         nombre_l        nombre_l"
        "imagen         descripcion     mapa"
        "imagen         descripcion     mapa"
        "imagen         zona            ciudad"
        "direccion      direccion       direccion"
        "combo          eliminar        modificar"
    ;
    gap: 30px;
    align-items: stretch;
    height: 100%;
}

.modulo_h2 {
    grid-area: modulo;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 10px;
}

.div_imagen_lugar {
    grid-area: imagen;
    background-color: #f0f2fa;
    border-radius: 10px;
    min-height: 400px;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1);
    display: grid;
    place-items: center;
    font-weight: 600;
    color: #023E8A;
    overflow: hidden;
}

.div_mapa_lugar {
    grid-area: imagen;
    background-color: #f0f2fa;
    border-radius: 10px;
    min-height: 400px;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1);
    display: grid;
    place-items: center;
    font-weight: 600;
    color: #023E8A;
    overflow: hidden;
}

.imagen_lugar {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.mapa_lugar {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.div_nombre_lugar {
    grid-area: nombre_l;
}

.div_descripcion_lugar {
    grid-area: descripcion;
}

.div_mapa_lugar {
    grid-area: mapa;
}

.div_direccion_lugar {
    grid-area: direccion;
}

.div_zona_lugar {
    grid-area: zona;
}

.div_ciudad_lugar {
    grid-area: ciudad;
}

.boton_combo_lugar {
    grid-area: combo;
}

.boton_eliminar_lugar {
    grid-area: eliminar;
}

.boton_modificar_lugar {
    grid-area: modificar;
}

.txt_descripcion_lugar {
    height: 100%;
}

/* ---- Formularios ---- */

.event-send-button {
    justify-self: end;
}

/* ---- Responsividad ---- 
@media (max-width: 768px) {
    .organizers-box {
        grid-template-columns: 1fr;
    }

    .event-box {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .event-box h1 {
        grid-column: 1;
    }
}
    */