.box {
    display: grid;
    grid-template-columns: 1.2fr 2fr;
    grid-template-rows: auto 300px auto;
    grid-template-areas: "viajes        titulo"
        "buscador      ImgMapa"
        "buscador      paquete";
    grid-gap: 5px;
    width: 95%;
}

#imgMapa {
    height: 100%;
}

#viajes {
    grid-area: viajes;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    /*border: 2px solid black;*/
}

#titulo {
    grid-area: titulo;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    /*border: 2px solid black;*/
}

#containerImgMapa {
    grid-area: ImgMapa;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


#buscador {
    grid-area: buscador;
    display: grid;
    grid-template-rows: 0.1fr 2fr;
    grid-template-areas: "buscar"
        "selecciones"
        "selecciones";
}

#buscar {
    grid-area: buscar;
    /*border: 2px solid black;*/
}

#selecciones {
    grid-area: selecciones;
    overflow-y: auto;
    height: 315px;
    /*border: 2px solid black;*/
}

#paquete {
    grid-area: paquete;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "paq1 paq2 paq3";
}

#paq1 {
    grid-area: paq1;
    /*border: 2px solid black;*/
    height: 100px;
}

#paq2 {
    grid-area: paq2;
    /*border: 2px solid black;*/
    height: 100px;
}

#paq3 {
    grid-area: paq3;
    /*border: 2px solid black;*/
    height: 100px;
}

#comentar {
    grid-area: comentar;
    /*border: 2px solid black;*/
}

.minicard {
    background-color: white;
    border-left: 5px solid #023E8A;
    border-radius: 8px;
    padding: 12px;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    transition:
        background-color 0.3s ease,
        box-shadow 0.3s ease,
        transform 0.25s ease,
        border-left-color 0.3s ease;
}


.minicard span {
    font-size: 0.95rem;
    color: #333;
}

.minicard:hover {
    background-color: #dbe3f7;
    border-left-color: #1f3461;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}